<div *ngIf="customer">

  <h2>{{customer.name | uppercase}} Details</h2>
  <div><span>id: </span>{{customer._id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="customer.name" placeholder="name" id="name"/>
    </label>
  </div>
  <div>
    <label>Address:
      <input [(ngModel)]="customer.address" placeholder="address" id="address"/>
    </label>
  </div>
  <div>{{customer.dateCreated}}</div>
  <div>{{customer.status}}</div>

  <input type="hidden" [(ngModel)]="customer._id" id="id"/>
</div>
<br>
<br>
<table>
  <tr>
    <td><button (click)="save()" *ngIf="customer" id="save">Save</button></td>
    <td>&nbsp;</td>
    <td><button (click)="goBack()">Back</button></td>
  </tr>
</table>
