<h2>Customers</h2>
<ul class="customers">
  <li *ngFor="let customer of customers; let i = index">
    <a routerLink="/customer/{{customer._id}}">
      <span class="badge">{{ i + 1 }}</span>
      <span id="{{'customer-name-' + customer._id}}" class="customerName">{{customer.name}}</span>
    </a>
    <button class="delete" title="delete customer" (click)="delete(customer)">x</button>
  </li>
</ul>
<table>
  <tr>
    <!--
    <td><a routerLink="/customer/add">Add customer</a></td>
    -->
    <td>
        <button title="add customer" (click)="add()">Add Customer</button>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
